apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: LS0tLS1CR....OMIT
    server: https://10.18.12.10:16443
  name: pre-dev
contexts:
- context:
    cluster: pre-dev
    user: customer1
  name: default
current-context: "default"
kind: Config
preferences: {}
users:
- name: customer1
  user:
    auth-provider:
      config:
        client-id: kubernetes
        client-secret: GUID-REDUCTED
        id-token: eyJhbGciO....OMIT
        idp-issuer-url: https://sso.bar1.devcloud.habana.ai/auth/realms/midjourney-test
        refresh-token: eyJhbGci....OMIT
      name: oidc
